# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# R Environment Variables
.Renviron

# Quarto files
/.quarto/
/_quarto.yml
/README.qmd